<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >Accueil</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/admin"
            *ngIf="userService.roleMatch(['ADMIN'])"
            >Espace Administrateur</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/student"
            *ngIf="userService.roleMatch(['STUDENT'])"
            >Espace Étudiant</a
          >
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <button
          *ngIf="!isLoggedIn()"
          type="button"
          class="btn btn-primary me-2"
          routerLink="/login"
        >
          S'authentifier
        </button>
        <button
          *ngIf="isLoggedIn()"
          type="button"
          class="btn btn-outline-danger"
          (click)="logout()"
        >
          Se déconnecter
        </button>
      </div>
    </div>
  </div>
</nav>
